<footer>
    <div class="container px-md-4">
        <div class="row">
            <div class="col-md-3 col-sm-12 mt-4">
                <strong data-bs-toggle="collapse" href="#collapseIbkBenefit" role="button" aria-expanded="true" 
                aria-controls="collapseIbkBenefit">Interbank Benefit <i aria-hidden="true" class="fas fa-angle-down d-md-none"></i></strong>
                <ul class="list-group list-group-flush multi-collapse collapse d-md-block" id="collapseIbkBenefit">
                    <li class="list-group-item border-0 ps-0"><span>¿Qué
                            es?</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Ayuda</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Términos y
                            condiciones</span></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 mt-4">
                <strong data-bs-toggle="collapse" href="#collapseCanjeaMillas" role="button" aria-expanded="true" 
                aria-controls="collapseCanjeaMillas">Canjea con tus Millas <i aria-hidden="true" class="fas fa-angle-down d-md-none"></i></strong>
                <ul class="list-group list-group-flush multi-collapse collapse d-md-block" id="collapseCanjeaMillas">
                    <li class="list-group-item border-0 ps-0"><span>Vales
                            y
                            giftcards</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Productos</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Viajes</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Canje en tiendas</span></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 mt-4">
                <strong data-bs-toggle="collapse" href="#collapseMisMillas" role="button" aria-expanded="true" 
                aria-controls="collapseMisMillas">Mis Millas <i aria-hidden="true" class="fas fa-angle-down d-md-none"></i></strong>
                <ul class="list-group list-group-flush mb-4 multi-collapse collapse d-md-block" id="collapseMisMillas">
                    <li class="list-group-item border-0 ps-0"><span>¿Cómo acumulo mis Millas?</span></li>
                    <li class="list-group-item border-0 ps-0"><span>¿Puedo perder mis Millas?</span></li>
                </ul>
                <strong class="d-block mt-4" data-bs-toggle="collapse" href="#collapseCrearCuenta" role="button" aria-expanded="true" 
                aria-controls="collapseCrearCuenta">Crea una cuenta <i aria-hidden="true" class="fas fa-angle-down d-md-none"></i></strong>
                <ul class="list-group list-group-flush multi-collapse collapse d-md-block" id="collapseCrearCuenta">
                    <li class="list-group-item border-0 ps-0"><span>Tengo tarjeta de crédito</span></li>
                    <li class="list-group-item border-0 ps-0"><span>Aún no tengo tarjeta de crédito</span></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 mt-4">
                <p>Para comunicarte con nosotros, llámanos al:</p><h3 class="tib-color-primary fw-bold">(01) 311 9020</h3>
                <p>Horario de atención</p><strong class="horario">Lunes a viernes de 8:00 a.m. hasta las 8:00
                    p.m.</strong>
            </div>
        </div>
        <div class="d-flex justify-content-between footer-bottom mt-4 pt-4">
            <p class="align-self-center">© Copyright 2020 - Todos los derechos reservados</p>
            <span class="d-flex flex-column justify-content-center">
                <i aria-hidden="true" class="fas fa-book-open"></i><small>Libro de reclamaciones</small>
            </span>
        </div>
    </div>
</footer>